h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
  letter-spacing: 3px;
}
ul{
  line-height: 40px;
  letter-spacing: 3px;
}
ol {
  line-height: 40px;
  letter-spacing: 3px;
}